### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [2]:
#make player_count variable 
player_count = len(purchase_data_df["SN"].value_counts())
#make a player_count dataframe to hold and display player count variable
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price = purchase_data_df["Price"].mean()
number_of_purchases = sum(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()

Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987               303810        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
player_count

576

In [5]:
#find the percentage and count of male, female and other players
gender_demographics_df = purchase_data_df.drop_duplicates(subset="SN")
male_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Male"])
female_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Female"])
other_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Other / Non-Disclosed"])
male_percentage = (male_players/player_count)
female_percentage = (female_players/player_count)
other_percentage = (other_players/player_count)
gender_demographics_table = pd.DataFrame({"Total Count": [male_players, female_players, other_players], "Percentage of Players": [male_percentage, female_percentage, other_percentage]})
gender_demographics_table.style.format({"Percentage of Players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#obtain purchase count, average purchase price, average purchase total per person etc. by gender
#male_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
#female_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
#other_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]

by_gender_df = purchase_data_df.groupby(["Gender"])
average_price = by_gender_df["Price"].mean()
purchase_count = by_gender_df["Item Name"].count()
total_purchase_value = by_gender_df["Price"].sum()
#average_total_purchase_per_person = by_gender_df

purchasing_analysis_table = pd.DataFrame({"Purchase Count": [purchase_count], "Average Purchase Price": [average_price], "Total Purchase Value": [total_purchase_value]})
purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame