### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

* Three observable trends in the dataset:
-

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [2]:
#make player_count variable 
player_count = len(purchase_data_df["SN"].value_counts())
#make a player_count dataframe to hold and display player count variable
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price = purchase_data_df["Price"].mean()
number_of_purchases = sum(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()

Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987               303810        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
player_count

576

In [5]:
#find the percentage and count of male, female and other players
gender_demographics_df = purchase_data_df.drop_duplicates(subset="SN")
male_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Male"])
female_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Female"])
other_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Other / Non-Disclosed"])
male_percentage = (male_players/player_count)
female_percentage = (female_players/player_count)
other_percentage = (other_players/player_count)
gender_demographics_table = pd.DataFrame({"Total Count": [male_players, female_players, other_players], "Percentage of Players": [male_percentage, female_percentage, other_percentage]})
gender_demographics_table.style.format({"Percentage of Players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#obtain purchase count, average purchase price, average purchase total per person etc. by gender
#male_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
#female_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
#other_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]

grouped_df = purchase_data_df.groupby(["Gender"])
purchase_count = grouped_df["Purchase ID"].count()
average_price = grouped_df["Price"].mean()
total_purchase_value = grouped_df["Price"].sum()
unique_gender_count = len(grouped_df["SN"].value_counts())
average_total_purchase_per_person = total_purchase_value / unique_gender_count

purchasing_analysis_table = pd.DataFrame({"Purchase Count": purchase_count, "Average Price": average_price, "Total Purchase Value": total_purchase_value, "Average Total Purchase Per Person": average_total_purchase_per_person})
purchasing_analysis_table.head()

,Purchase Count,Average Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,0.628368
Male,652,3.017853,1967.64,3.416042
Other / Non-Disclosed,15,3.346000,50.19,0.087135

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
age_demographics_df = purchase_data_df.drop_duplicates(subset="SN")
#establish bins for ages
bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]

ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorize the existing players using the age bins
age_demographics_df["Age Group"] = pd.cut(age_demographics_df["Age"], bins, labels=ages)

#group by "Age Group"
age_demographics_df = age_demographics_df.groupby("Age Group")

#calculate the numbers and percentages by age group

summary_by_age_df = pd.DataFrame(age_demographics_df.count())

age_count = summary_by_age_df["Purchase ID"].count()
age_count

#make percentage of players from a past column
summary_by_age_df["Purchase ID"] = (summary_by_age_df["Purchase ID"]/player_count)*100
#format
summary_by_age_df["Purchase ID"] = summary_by_age_df["Purchase ID"].map("{:,.2f}%".format)

#we just want that purchase id column and age group
two_columns = summary_by_age_df[["SN", "Purchase ID"]]
two_columns

# Rename columns 
final_summary = two_columns.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
final_summary

C:\Users\brend\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchasing_analysis_df = pd.DataFrame(age_demographics_df["Purchase ID"].count())
purchasing_analysis_df

# Get Total purchase value by age
total_purchase_value_age = age_demographics_df["Price"].sum()
total_purchase_value_age
dlr_total_purchase_value_age = total_purchase_value_age.map("${:,.2f}".format)
dlr_total_purchase_value_age

# Get Average purchase price by age
avg_purchase_price_age = age_demographics_df["Price"].mean()
avg_purchase_price_age
formatted_avg_purchase_price_age = avg_purchase_price_age.map("${:,.2f}".format)
formatted_avg_purchase_price_age

# find Normalized totals by age, total purchase value divided by purchase count by age
normalized_totals_age = total_purchase_value_age/age_demographics_df["Purchase ID"].count()
formatted_normalized_totals_age = normalized_totals_age.map("${:,.2f}".format)
formatted_normalized_totals_age

#add columns to purchasing analysis
purchasing_analysis_df["Average Purchase Price"] = formatted_avg_purchase_price_age  
purchasing_analysis_df["Total Purchase Value"] = formatted_total_purchase_value_age 
purchasing_analysis_df["Normalized Totals"] = formatted_normalized_totals_age 
purchasing_analysis_df

#put all into a chart and rename columns
summary_age_purchased_data_df = purchasing_analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_age_purchased_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#create new dataframe
old_purchase_df = pd.DataFrame(purchase_data_df)

# Group by Spenders
top_spenders_df = old_purchase_df.groupby("SN")

analysis_by_spender_df = pd.DataFrame(top_spenders_df["Purchase ID"].count())

#calculate total purchase value by SN
total_purchase_value_bySN = top_spenders_df["Price"].sum()
total_purchase_value_bySN
formatted_total_purchase_value_bySN = total_purchase_value_bySN.map("${:,.2f}".format)
formatted_total_purchase_value_bySN

#calculate purchase price by SN
avg_purchase_price_bySN = top_spenders_df["Price"].mean()
avg_purchase_price_bySN
formatted_avg_purchase_price_SN = avg_purchase_price_bySN.map("${:,.2f}".format)
formatted_avg_purchase_price_SN

# make columns for average and total purchase values
analysis_by_spender_df["Average Purchase Price"] = formatted_avg_purchase_price_SN
analysis_by_spender_df["Total Purchase Value"] = formatted_total_purchase_value_bySN 
analysis_by_spender_df

# top spender analysis with columns renamed
renamed_spending_analysis_df = analysis_by_spender_df.rename(columns={"Purchase ID":"Purchase Count"})
sorted_spenders_df= renamed_spending_analysis_df.sort_values("Total Purchase Value", ascending=False)
sorted_spenders_df

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18
...                      ...                    ...                  ...
Qilalista41                1                  $1.02                $1.02
Ililsasya43                1                  $1.02                $1.02
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Alo38                      1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
# Group by Item ID and Item Name
popular_items_df = old_purchase_df.groupby(["Item ID", "Item Name"])


# make new dataframe sorted by Purchase ID
item_analysis_df = pd.DataFrame(popular_items_df["Purchase ID"].count())

# Get Total purchase value by Item
total_purchase_value_byitem = popular_items_df["Price"].sum()

formatted_total_purchase_value_item = total_purchase_value_byitem.map("${:,.2f}".format)

#Get purchase price by Item
purchase_price_byitem = popular_items_df["Price"].mean()
purchase_price_byitem
formatted_purchase_price_item = purchase_price_byitem.map("${:,.2f}".format)
formatted_purchase_price_item

#add columns 
item_analysis_df["Item Price"] = formatted_purchase_price_item
item_analysis_df["Total Purchase Value"] = formatted_total_purchase_value_item

#rename columns and sort by purchase count
purchased_data_summary_df = item_analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
top_items_df=purchased_data_summary_df.sort_values("Purchase Count", ascending=False)
top_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [48]:
purchased_data_summary_df["Total Purchase Value"] = popular_items_df["Price"].sum()
purchased_data_summary_df

#sort by total purchase value
top_items_df=purchased_data_summary_df.sort_values("Total Purchase Value", ascending=False)

# Format Total Purchase Price 
formatted_total_purchase_value_item = total_purchase_value_byitem.map("${:,.2f}".format)
top_items_df["Total Purchase Value"] = formatted_total_purchase_value_item
top_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80