### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [2]:
#make player_count variable 
player_count = len(purchase_data_df["SN"].value_counts())
#make a player_count dataframe to hold and display player count variable
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price = purchase_data_df["Price"].mean()
number_of_purchases = sum(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()

Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987               303810        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
player_count

576

In [5]:
#find the percentage and count of male, female and other players
gender_demographics_df = purchase_data_df.drop_duplicates(subset="SN")
male_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Male"])
female_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Female"])
other_players = len(gender_demographics_df.loc[gender_demographics_df["Gender"] == "Other / Non-Disclosed"])
male_percentage = (male_players/player_count)
female_percentage = (female_players/player_count)
other_percentage = (other_players/player_count)
gender_demographics_table = pd.DataFrame({"Total Count": [male_players, female_players, other_players], "Percentage of Players": [male_percentage, female_percentage, other_percentage]})
gender_demographics_table.style.format({"Percentage of Players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#obtain purchase count, average purchase price, average purchase total per person etc. by gender
#male_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
#female_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
#other_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]

grouped_df = purchase_data_df.groupby(["Gender"])
purchase_count = grouped_df["Purchase ID"].count()
average_price = grouped_df["Price"].mean()
total_purchase_value = grouped_df["Price"].sum()
unique_gender_count = len(grouped_df["SN"].value_counts())
average_total_purchase_per_person = total_purchase_value / unique_gender_count

purchasing_analysis_table = pd.DataFrame({"Purchase Count": purchase_count, "Average Price": average_price, "Total Purchase Value": total_purchase_value, "Average Total Purchase Per Person": average_total_purchase_per_person})
purchasing_analysis_table.head()

,Purchase Count,Average Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,0.628368
Male,652,3.017853,1967.64,3.416042
Other / Non-Disclosed,15,3.346000,50.19,0.087135

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
purchase_data_df["Age"].max()
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]

ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data_df["Age"], bins, labels=ages, include_lowest=True).head()

#create a new column called "Age Group"
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=ages)

age_group = purchase_data_df.groupby("Age Group")

total_age_count = age_group["Age Group"].count()
age_unique = len(age_group["SN"].value_counts())
average_total = total_age_count/age_unique
summary_table = pd.DataFrame({"Total Age Count": total_age_count, "Percentage of Players": average_total})
summary_table

           Total Age Count  Percentage of Players
Age Group
<10                     32               0.055556
10-14                   19               0.032986
15-19                  136               0.236111
20-24                  365               0.633681
25-29                  101               0.175347
30-34                   73               0.126736
35-39                   41               0.071181
40+                     13               0.022569

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame